version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    commit-message:
      prefix: chore
      include: scope
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 5
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    commit-message:
      prefix: chore
      include: scope
