name: Release please

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-plz-pr:
    name: Prepare release PR
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'sumup' }}
    concurrency:
      group: release-plz-${{ github.ref }}
      cancel-in-progress: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: rustfmt, clippy

      - name: Create GitHub token
        id: create-token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.SUMUP_BOT_APP_ID }}
          private-key: ${{ secrets.SUMUP_BOT_PRIVATE_KEY }}

      - name: Run release-plz
        uses: release-plz/action@487eb7b5c085a664d5c5ca05f4159bd9b591182a # v0.5.120
        with:
          command: release-pr
        env:
          GITHUB_TOKEN: ${{ steps.create-token.outputs.token }}
