name: Release

on:
  release:
    types:
      - published

permissions:
  contents: read

jobs:
  release:
    name: Release
    if: '!github.event.prerelease'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write # Required for OIDC token exchange for publishing
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: rustfmt, clippy
          persist-credentials: false

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Run Clippy
        run: cargo clippy --package sumup -- --deny warnings

      - name: Build
        run: cargo build --package sumup --locked

      - name: Test
        run: cargo test --package sumup --locked
        env:
          RUST_BACKTRACE: 1

      - name: Package for publication
        run: cargo package --package sumup --list

      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth

      - run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
